body {
    background-color: rgb(60, 60, 60);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.acima {
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 12px;

}

.pa {
    color: black;
    text-decoration: none;
}

.centro {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.google {
    width: 300px;
}

form {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
input [type="text"] {
    width: 300px;
    height: 50px;
}

.input-bottom {
    display: flex;
    gap: 15px;
   justify-content: center;
   align-items: center;

}

input[type="button"] {
    width: 200px;
    height: 50px;
}


.abaixo {
    background-color: brown;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.p1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}